In [89]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [90]:
import numpy as np
import pandas as pd 

data_path = '/content/drive/MyDrive/태양광 발전량 예측 AI 경진대회/235680_태양광 발전량 예측 AI 경진대회_data/'

train = pd.read_csv(data_path + 'train/train.csv')

In [91]:
#hour angle 추가
h_list=[]
len(train['Hour'])
for i in range(len(train['Hour'])):
  h=train.loc[i,'Hour']
  min=train.loc[i,'Minute']
  if min!=30:
    hour_angle=15*(h-12)-7.5
    h_list.append(hour_angle)
  else:
    hour_angle=15*(h-12)
    h_list.append(hour_angle)

train['h']=h_list

In [92]:
# Time 변수 생성 
df_train=pd.read_csv(data_path+'train/train.csv')
df_train['Time'] = df_train['Hour'] * 60 + df_train['Minute']
df_train.to_csv('df_train.csv')
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52560 entries, 0 to 52559
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Day     52560 non-null  int64
 1   Hour    52560 non-null  int64
 2   Minute  52560 non-null  int64
 3   DHI     52560 non-null  int64
 4   DNI     52560 non-null  int64
 5   WS      52560 non-null  float64
 6   RH      52560 non-null  float64
 7   T       52560 non-null  int64
 8   TARGET  52560 non-null  float64
 9   Time    52560 non-null  int64
dtypes: float64(3), int64(7)
memory usage: 4.0 MB

In [93]:
# 날짜별 데이터프레임 쪼개기
df_train_day = []
list_day = [] 
DAY = 0

for n in range(0,df_train.shape[0]):

    if df_train.loc[n, 'Day'] == DAY:
        list_day.append(df_train.loc[n, ['Time','TARGET']])
        
    else:
        df_day = pd.DataFrame(list_day, columns = ['Time', 'TARGET'], index = range(0,48))
        df_train_day.append(df_day)

        list_day = []
        list_day.append(df_train.loc[n, ['Time','TARGET']])
    DAY = df_train.loc[n, 'Day']

In [94]:
# 일출시간, 일몰시간 구하기
df_new = pd.DataFrame(columns = ['Day', '일출시간', '일몰시간', '일조시간'])

for i in range(0,len(df_train_day)):
    for d1 in range(0,48):
        if df_train_day[i].loc[d1,'TARGET'] != 0:
            sunrise = df_train_day[i].loc[d1,'Time']
            break

    for d2 in range(47,-1,-1):
        if df_train_day[i].loc[d2,'TARGET'] != 0:
            sunset = df_train_day[i].loc[d2 + 1,'Time']
            break
        
    df_new.loc[i] = [i, sunrise, sunset, sunset - sunrise]

df_new.to_csv('df_new.csv')

   Day   일출시간    일몰시간   일조시간
0  0.0  480.0  1020.0  540.0
1  1.0  480.0  1020.0  540.0
2  2.0  480.0  1020.0  540.0
3  3.0  480.0  1020.0  540.0
4  4.0  480.0  1020.0  540.0

In [95]:
# 하지, 동지 구하기

summer = df_new.loc[df_new['일조시간'].idxmax(), 'Day']
winter = df_new.loc[df_new['일조시간'].idxmin(), 'Day']

print(summer, winter)

# 138 + 195 = 233 -> 1월 1일

138.0 356.0

In [161]:
N=[]
#1월 1일 기준 N+171 = 하지 기준 N
for i in range(len(train['Day'])):
  day=train.loc[i,'Day']
  if day==summer:
    N.append(+171)
  else:
    N.append(day-summer+171)


#N Feature 생성
#N이 음수, 364 초과를 변환(1월 1일 기준 N=0)
train['N']=N
day_max=train['N'].max()
day_min=train['N'].min()

while day_max>364 or day_max<0:
  for i in range(len(train['N'])):
    day=train.loc[i,'N']
    if day<0:
      train.loc[i,'N']=day+365
    elif day>364:
      train.loc[i,'N']=day-365
    else:
      pass
  day_max=train['N'].max()
  day_min=train['N'].min()

#현재 N은 한국 기준이므로, UT로 변환
train['N']-=0.375

In [162]:
#Declination of the Sun

def radian_angle(x):
  return x*np.pi/180

def dec_sun(N):
  return -1*np.arcsin(0.39779*np.cos(radian_angle(0.98565)*(N+10)+radian_angle(1.914)*np.sin(radian_angle(0.98565)*(N-2))))

train['Declination']=dec_sun(train['N'])

,Day,Hour,Minute,DHI,DNI,WS,RH,T,TARGET,h,N,Declination,Zenith_Angle,GHI
0,0,0,0,0,0,1.5,69.08,-12,0.0,-187.5,32.625,-0.295314,-0.873733,0.0
1,0,0,30,0,0,1.5,69.06,-12,0.0,-180.0,32.625,-0.295314,-0.880429,0.0
2,0,1,0,0,0,1.6,71.78,-12,0.0,-172.5,32.625,-0.295314,-0.873733,0.0
3,0,1,30,0,0,1.6,71.75,-12,0.0,-165.0,32.625,-0.295314,-0.853761,0.0
4,0,2,0,0,0,1.6,75.20,-12,0.0,-157.5,32.625,-0.295314,-0.820853,0.0

In [163]:
#Zenith Angle

#관측자 위도 설정
alt=37.54

def zenith_angle(altitude,declination,hour_angle):
  return np.sin(radian_angle(altitude))*np.sin(declination)+np.cos(radian_angle(altitude))*np.cos(declination)*np.cos(radian_angle(hour_angle))

train['Zenith_Angle']=zenith_angle(alt,train['Declination'],train['h'])

In [171]:
#GHI

train['GHI']=train['DHI']+train['DNI']*train['Zenith_Angle']

        Day  Hour  Minute    DHI    DNI   WS      RH     T     TARGET      h  \
6624  138.0   0.0     0.0    0.0    0.0  3.5  100.00   6.0   0.000000 -187.5
6625  138.0   0.0    30.0    0.0    0.0  3.3  100.00   5.0   0.000000 -180.0
6626  138.0   1.0     0.0    0.0    0.0  3.1   99.26   5.0   0.000000 -172.5
6627  138.0   1.0    30.0    0.0    0.0  3.0  100.00   5.0   0.000000 -165.0
6628  138.0   2.0     0.0    0.0    0.0  3.0  100.00   5.0   0.000000 -157.5
6629  138.0   2.0    30.0    0.0    0.0  2.9  100.00   5.0   0.000000 -150.0
6630  138.0   3.0     0.0    0.0    0.0  2.9  100.00   5.0   0.000000 -142.5
6631  138.0   3.0    30.0    0.0    0.0  2.4  100.00   4.0   0.000000 -135.0
6632  138.0   4.0     0.0    0.0    0.0  1.9  100.00   4.0   0.000000 -127.5
6633  138.0   4.0    30.0    0.0    0.0  1.9  100.00   3.0   0.000000 -120.0
6634  138.0   5.0     0.0    4.0    0.0  1.9  100.00   3.0   0.375379 -112.5
6635  138.0   5.0    30.0   20.0    0.0  1.8  100.00   3.0   1.876896 -105.0
6636  138.0   6.0     0.0   40.0    0.0  1.8  100.00   3.0   3.753791  -97.5
6637  138.0   6.0    30.0   33.0    0.0  2.1  100.00   3.0   3.096878  -90.0
6638  138.0   7.0     0.0   68.0    0.0  2.5   98.12   3.0   6.381445  -82.5
6639  138.0   7.0    30.0  202.0   41.0  3.0   98.10   4.0  20.833313  -75.0
6640  138.0   8.0     0.0  121.0    0.0  3.5   94.26   5.0  11.354969  -67.5
6641  138.0   8.0    30.0   85.0    0.0  3.9   94.23   5.0   7.976631  -60.0
6642  138.0   9.0     0.0   52.0    0.0  4.4   88.30   6.0   4.879768  -52.5
6643  138.0   9.0    30.0   77.0    0.0  4.6   82.31   6.0   7.225810  -45.0
6644  138.0  10.0     0.0   44.0    0.0  4.9   75.76   7.0   4.128989  -37.5
6645  138.0  10.0    30.0  126.0    5.0  4.9   75.73   8.0  12.292991  -30.0
6646  138.0  11.0     0.0  122.0    4.0  4.9   70.30   9.0  11.823663  -22.5
6647  138.0  11.0    30.0  162.0   11.0  4.7   70.28   9.0  16.234077  -15.0
6648  138.0  12.0     0.0  158.0   11.0  4.5   65.89  10.0  15.858548   -7.5
6649  138.0  12.0    30.0  292.0   19.0  4.1   65.88  10.0  29.089645    0.0
6650  138.0  13.0     0.0  215.0   15.0  3.7   61.34  11.0  21.488566    7.5
6651  138.0  13.0    30.0  296.0   19.0  3.3   61.32  11.0  29.464671   15.0
6652  138.0  14.0     0.0  241.0   16.0  2.9   59.99  11.0  23.834479   22.5
6653  138.0  14.0    30.0  277.0   20.0  2.4   59.99  11.0  27.494104   30.0
6654  138.0  15.0     0.0  237.0   16.0  1.9   58.60  11.0  23.365297   37.5
6655  138.0  15.0    30.0   79.0    0.0  1.2   62.69  10.0   7.413168   45.0
6656  138.0  16.0     0.0  179.0   11.0  0.7   62.37  10.0  17.453787   52.5
6657  138.0  16.0    30.0  153.0    8.0  1.1   66.78   9.0  14.732659   60.0
6658  138.0  17.0     0.0  135.0   11.0  1.6   68.13   9.0  13.043565   67.5
6659  138.0  17.0    30.0   56.0    0.0  1.8   73.01   8.0   5.255019   75.0
6660  138.0  18.0     0.0   29.0    0.0  2.0   82.78   7.0   2.721379   82.5
6661  138.0  18.0    30.0   42.0  262.0  1.5   88.82   5.0   6.662833   90.0
6662  138.0  19.0     0.0   11.0    0.0  1.1   95.96   4.0   1.032281   97.5
6663  138.0  19.0    30.0    0.0    0.0  0.9  100.00   3.0   0.000000  105.0
6664  138.0  20.0     0.0    0.0    0.0  0.7  100.00   3.0   0.000000  112.5
6665  138.0  20.0    30.0    0.0    0.0  0.5  100.00   3.0   0.000000  120.0
6666  138.0  21.0     0.0    0.0    0.0  0.4  100.00   3.0   0.000000  127.5
6667  138.0  21.0    30.0    0.0    0.0  0.3  100.00   2.0   0.000000  135.0
6668  138.0  22.0     0.0    0.0    0.0  0.3  100.00   2.0   0.000000  142.5
6669  138.0  22.0    30.0    0.0    0.0  0.5  100.00   2.0   0.000000  150.0
6670  138.0  23.0     0.0    0.0    0.0  0.8  100.00   2.0   0.000000  157.5
6671  138.0  23.0    30.0    0.0    0.0  0.9  100.00   1.0   0.000000  165.0

            N  Declination  Zenith_Angle         GHI
6624  170.625     0.408956     -0.479021    0.000000
6625  170.625     0.408956     -0.485245    0.000000
6626  170.625     0.408956     -0.479021    0.000000
6627  170.625     0.408956     -0.460455    0.000000
6628  170.625     0.408956     -0.429864    0.000000
6629  170.625     0.408956     -0.387773    0.000000
6630  170.625     0.408956     -0.334901    0.000000
6631  170.625     0.408956     -0.272154    0.000000
6632  170.625     0.408956     -0.200603    0.000000
6633  170.625     0.408956     -0.121475    0.000000
6634  170.625     0.408956     -0.036122    4.000000
6635  170.625     0.408956      0.053994   20.000000
6636  170.625     0.408956      0.147332   40.000000
6637  170.625     0.408956      0.242295   33.000000
6638  170.625     0.408956      0.337258   68.000000
6639  170.625     0.408956      0.430597  219.654459
6640  170.625     0.408956      0.520713  121.000000
6641  170.625     0.408956      0.606065   85.000000
6642  170.625     0.408956      0.685194   52.000000
6643  170.625     0.408956      0.756744   77.000000
6644  170.625     0.408956      0.819492   44.000000
6645  170.625     0.408956      0.872364  130.361819
6646  170.625     0.408956      0.914455  125.657820
6647  170.625     0.408956      0.945045  172.395499
6648  170.625     0.408956      0.963611  168.599726
6649  170.625     0.408956      0.969836  310.426878
6650  170.625     0.408956      0.963611  229.454172
6651  170.625     0.408956      0.945045  313.955862
6652  170.625     0.408956      0.914455  255.631280
6653  170.625     0.408956      0.872364  294.447275
6654  170.625     0.408956      0.819492  250.111870
6655  170.625     0.408956      0.756744   79.000000
6656  170.625     0.408956      0.685194  186.537132
6657  170.625     0.408956      0.606065  157.848524
6658  170.625     0.408956      0.520713  140.727842
6659  170.625     0.408956      0.430597   56.000000
6660  170.625     0.408956      0.337258   29.000000
6661  170.625     0.408956      0.242295  105.481352
6662  170.625     0.408956      0.147332   11.000000
6663  170.625     0.408956      0.053994    0.000000
6664  170.625     0.408956     -0.036122    0.000000
6665  170.625     0.408956     -0.121475    0.000000
6666  170.625     0.408956     -0.200603    0.000000
6667  170.625     0.408956     -0.272154    0.000000
6668  170.625     0.408956     -0.334901    0.000000
6669  170.625     0.408956     -0.387773    0.000000
6670  170.625     0.408956     -0.429864    0.000000
6671  170.625     0.408956     -0.460455    0.000000
        Day  Hour  Minute  DHI  DNI   WS     RH  T  TARGET      h        N  \
6672    139     0       0    0    0  1.0  99.17  1     0.0 -187.5  171.625
6673    139     0      30    0    0  1.0  99.17  0     0.0 -180.0  171.625
6674    139     1       0    0    0  1.0  94.53  0     0.0 -172.5  171.625
6675    139     1      30    0    0  1.0  94.53  0     0.0 -165.0  171.625
6676    139     2       0    0    0  1.0  97.30  0     0.0 -157.5  171.625
...     ...   ...     ...  ...  ...  ...    ... ..     ...    ...      ...
52555  1094    21      30    0    0  2.4  70.70 -4     0.0  135.0   31.625
52556  1094    22       0    0    0  2.4  66.79 -4     0.0  142.5   31.625
52557  1094    22      30    0    0  2.2  66.78 -4     0.0  150.0   31.625
52558  1094    23       0    0    0  2.1  67.72 -4     0.0  157.5   31.625
52559  1094    23      30    0    0  2.1  67.70 -4     0.0  165.0   31.625

       Declination  Zenith_Angle  GHI
6672      0.409086     -0.478908  0.0
6673      0.409086     -0.485131  0.0
6674      0.409086     -0.478908  0.0
6675      0.409086     -0.460342  0.0
6676      0.409086     -0.429754  0.0
...            ...           ...  ...
52555    -0.300287     -0.715827  0.0
52556    -0.300287     -0.781154  0.0
52557    -0.300287     -0.836200  0.0
52558    -0.300287     -0.880021  0.0
52559    -0.300287     -0.911869  0.0

[45888 rows x 14 columns]